@tailwind base;
@tailwind components;
@tailwind utilities;

/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  color: white;
  height: 100vh;
  background: #0c0f13;
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  user-select: none;
}

button {
  background-color: transparent;
  border: none;
  appearance: none;
  transition: all ease-in 0.1s;
  cursor: pointer;
  opacity: 0.9;
  -webkit-app-region: no-drag;
}

button:hover {
  transform: scale(1.05);
  opacity: 1;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

.titlebar {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.inactive-btn {
  filter: invert(36%) sepia(6%) saturate(1433%) hue-rotate(180deg) brightness(85%) contrast(80%); /* #000 -> #525A68 */
}

.active-btn {
  filter: invert(69%) sepia(81%) saturate(7453%) hue-rotate(232deg) brightness(107%) contrast(101%); /* #000 -> #6C61FF */
}
